<div id="main">
<section id="second" class="main special">
    <div class="spotlight">
        <div class="content">
    <header class="major">

        <h2>Estadisticas</h2>
        <p>Repasamos brevemente los clubes que forman parte de nuestra base de datos,<br />
            para poder tener nocion de la cantidad de clubes que tiene y tuvo la ciudad,<br />
            cuantos continuan en actividad y cuando se perdieron en el paso del tiempo.<br />
            Pero aqui los recordamos... como semilla para que cuando el tiempo disponga,<br />
            vuelvan a renacer.</p>
    </header>
    <ul class="statistics">
        <li class="style1">
            <span class="icon solid fa-futbol"></span>
            <strong>{{clubCount}}</strong> Clubes
        </li>
        <li class="style2">
            <span class="icon solid fa-map-marked"></span>
            <strong>{{neighborhoodCount}}</strong> Barrios
        </li>
        <li class="style3">
            <span class="icon solid fa-heart"></span>
            <strong>{{activeClubs}}</strong> Activos
        </li>
        <li class="style4">
            <span class="icon solid fa-heart-broken"></span>
            <strong>{{inactiveClubs}}</strong> Inactivos
        </li>
    </ul>
    <p class="content"></p>
        </div>
    </div>
</section>
</div>