<div>
    <section id="first" class="main special">
        <header class="major">
            <h2>Por Barrio</h2>
        </header>

        <ul class="features">
            <li>
                <form>
                    <select name="opt" [(ngModel)]="idCapturated">
                        <option [value]="aux.idBarrio" *ngFor="let aux of neighColection">{{aux.nombreBarrio}}</option>
                    </select>
                </form>
            </li>
        </ul>
        <footer class="major">
            <ul class="actions special">
                <li><a class="button" (click)="searchByNeighborhood(idCapturated)" >Buscar</a></li>
            </ul>
        </footer>

        <div>
            <table>
                <tbody>
                  <tr *ngFor="let item of clubColection">
                    <td><a (click)="showClubById(item.idClub)">{{item.nombre}}</a></td>
                  </tr>
                </tbody>
              </table>

        </div>

        <section *ngIf="show"; else modal >

        </section>
    </section>
</div>

<ng-template #error>
    <p>Nada para mostrar</p>
</ng-template>

<ng-template #modal>
    <p>Hola soy Modal</p>
</ng-template>